#profiles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.candidateCard {
    border : 1px solid lightgray;
    margin: .5rem;
    width: 75%;
}

.info {
    margin: 1rem;
    display: inline;
}

.info h2 {
    font-size: 2rem;
}

.candidateImage {
    float: left;
    margin: 1rem;
}

.clear {
    clear: both;
}

.party {
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    #profiles {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .candidateCard {
        border : 1px solid lightgray;
        margin: .5rem;
        width: 96vw;
    }

    .info {
        margin: 1rem;
        display: inline-block;
    }
    
    .info h2 {
        font-size: 2rem;
    }
    
    .candidateImage {
        align-items: center;
        margin: 1rem;
    }

    .candidateBio {
        display: none;
    }
}