.map-container {
    height: 50vw;
    max-width: 40vw;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-radius: 10px;
}

.mapWrapper h2 {
    font-size: calc(1.0rem + .6vw);
    padding-top: 1rem;
    text-align: center;
}


.mapMain {
    height: fit-content;
}

.assortmentOfMaps {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.assortmentOfMaps > * {
    flex: 1 1 560px;
}

.largerMap {
    max-width: 70vw;
}

canvas {
    top: initial !important;
    left: initial !important;
}

.exploreMapButton {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 769px) {
    .largerMap canvas {
        height: 50vw !important;
        width: 70vw !important;
    }
}

@media only screen and (max-width: 768px) {
    .map-container {
        max-width: 70vw;
        height: 70vw;
    }

    .mapWrapper {
        max-width: 70vw;
        height: fit-content;
    }

    canvas {
        height: 70vw !important;
        width: 70vw !important;
    }

}