#title {
    margin-left: .75rem;
    font-size: 1rem;
}

.userSearchBar {
    margin-left: .75rem;
    width: 15rem;
}

.filterMargin {
    margin-right: 1.5rem;
}


@media only screen and (max-width: 768px) {
    #title {
        margin-left: .75rem;
        font-size: 1rem;
    }

    #candidateSearchBar {
        margin-left: .7rem;
        width: 127%;
    }

    .filterMargin {
        margin-left: auto;
    }
}